.login-register-container {
  background-color: white;
  width: 410px;
  border-radius: 8px;

  .header-login-register {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 80px;

    div {
      padding-top: 24px;
      text-align: center;
      width: 50%;
      height: 100%;
      cursor: pointer;
      user-select: none;
      border-bottom: 2px solid #e6e6e6;

      font-weight: 600;
    }
    .login-form-selected {
      border-bottom: 2px solid #06c1d4;
    }
  }
  .login-register-form {
    margin: 40px auto;
    width: 90%;
    padding-bottom: 10px;

    .login-container,
    .register-container {
      padding: 10px;
      //display: flex;
      flex-direction: column;

      .input-element {
        display: flex;
        flex-direction: column;

        margin-bottom: 25px;
        label {
          font-size: 20px;
          font-weight: 600;
        }
        .error {
          border: 1px solid#d43b2a !important;
        }
        input {
          color: #595959;
          height: 48px;
          width: 100%;
          margin-top: 5px;
          padding: 0 10px;
          font-size: 18px;
          background-color: #f3f3f3;
          outline: none;
          border: none;
          border-radius: 4px;
          &:hover,
          &:focus {
            border: 1px solid #06c1d4;
          }
        }
        .error-message {
          font-size: 16px;
          color: #d43b2a;
          padding-top: 10px;
        }
      }
      .remember-me {
        display: flex;
        height: 30px;
        font-size: 18px;
        align-items: center;
        padding-bottom: 25px;
        margin-bottom: 5px;
        cursor: pointer;
        input {
          display: block;
          width: 18px;
          height: 18px;
          margin-right: 7px;
        }
      }
      button {
        height: 50px;
        width: 100%;
        outline: none;
        border-radius: 25px;
        border: 0;
        background-color: #06c1d4;
        font-size: 22px;
        color: white;
        transition: filter 250ms;
        margin: 20px 0;
      }
      .register-btn {
        cursor: pointer;

        &:hover {
          filter: brightness(1.2);
        }
      }
      .is-disabled {
        cursor: default !important;
        filter: brightness(0.8);
      }
      .forgot-password {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          text-decoration: underline;
          font-size: 20px;
          color: #06c1d4;
          cursor: pointer;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
