* {
  padding: 0;
  margin: 0;
}

.footerdiv {
  position: relative;
  bottom: 0;
  margin: auto;
  height: 430px;
  display: flex;
  flex-direction: column;
  background-color: #05042c;
  /* font-size:tahoma; */
}

.footerhead {
  position: relative;
  display: flex;
  width: 100%;
  height: 90px;
  justify-content: space-between;
  font-family: tahoma;
  margin-top: 60px;
}

.footerhead .logo {
  width: 395px;
  height: 100px;
  margin-left: 200px;
}

.footerhead .divhotline {
  /* margin-left:500px; */
}

.footerhead .iconcontact {
  margin-top: 37px;
  margin-right: 200px;
}

.hotline {
  color: #828296;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.number {
  color: white;
  font-size: 25px;
}

.iconchild {
  color: white;
  margin-right: 30px;
  font-size: 30px;
}

/* FOOTER BODY */
/* 1 LEFT */
.footerbody {
  margin-top: 10px;
  height: 200px;
  /* float: left; */
  display: flex;
}

.bodyleft {
  color: white;
  display: flex;
  /* justify-content: space-between; */
  /* float: left; */
}

.bodyleft .bodycol1 {
  margin-left: 200px;
}

.bodyleft .bodycol2 {
  margin-left: 54px;
}

.bodyleft .bodycol3 {
  margin-left: 135px;
}

.tieudeucol1 {
  margin-bottom: 20px;
  font-size: 22px;
}

.noidungcol1 {
  margin-top: 10px;
  color: #b4b4bb;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.noidungcol1.col2 {
  margin-top: 48px;
}

/* 2 RIGHT */
.bodyright {
  color: white;
  display: flex;
  margin-left: 188px;
  /* justify-content: space-between; */
  /* float: left; */
}

.bodyright .bodycol5 {
  margin-top: 36px;
  margin-left: 50px;
}

.noidungcol1.city {
  font-size: 22px;
  color: white;
}

.address {
  margin-top: 10px;
  font-size: 20px;
}

/* FOOTER END */
.footerend {
  color: hsla(0, 0%, 100%, 0.5);
  margin-left: 200px;
}

.company {
  margin-top: 7px;
}
