.banner {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  .left-banner {
    width: 65%;
    img {
      border-radius: 8px;
      width: 100%;
      border: 1px solid #f3f3f3;
    }
  }
  .right-banner {
    display: flex;
    flex-direction: column;
    width: 410px;
    height: 100%;
    .banner-title {
      padding: 20px 20px;
      background-color: #f3f3f3;
      margin-bottom: 10px;
      border-radius: 6px;
      font-size: 18px;
    }

    .active {
      background-color: rgb(36, 35, 104);
      color: white;
      font-weight: 600;
    }
  }
}
